force-app/main/default/flows/Agentforce_Account_Research_Report_Creator_Flow_AEA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This is the final prompt template that generates the account research report.</description>
        <name>Account_Intelligence_Research_Report_Generator</name>
        <label>Account Intelligence Research Report Generator</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>Account_Intelligence_Research_Report_Generator</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Count_Sources</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Strategic_Priorities</name>
            <value>
                <elementReference>response_Strategic_Priorities_Opportunities</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Tech_Insights</name>
            <value>
                <elementReference>response_Tech_Insights_Partnerships</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Positioning_and_Landscape</name>
            <value>
                <elementReference>response_Competitive_Positioning_Landscape</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Company_Overview</name>
            <value>
                <elementReference>response_Overview_Recent_News_JSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Report_Generator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>output_Final_Account_Research_Report</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>This is the comparison of old research reports with new research reports.</description>
        <name>Compare_New_Report_with_Old_Report</name>
        <label>Compare New Report with Old Report</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <actionName>Account_Intelligence_Research_Report_Comparison</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Save_New_Research_Report</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Old_Research_Report</name>
            <value>
                <elementReference>old_Research_Report_for_Comparison</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:New_Research_Report</name>
            <value>
                <elementReference>output_Final_Account_Research_Report</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Report_Comparison</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This is an action to count the number of sources used in generation of this report.</description>
        <name>Count_Sources</name>
        <label>Count Sources</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>Source_Counter</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_the_Account_Intelligence_Research_Report</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Positioning_and_Landscape</name>
            <value>
                <elementReference>response_Competitive_Positioning_Landscape</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Strategic_Priorities</name>
            <value>
                <elementReference>response_Strategic_Priorities_Opportunities</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Company_Overview</name>
            <value>
                <elementReference>response_Overview_Recent_News_JSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Tech_Insights</name>
            <value>
                <elementReference>response_Tech_Insights_Partnerships</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Source_Counter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>number_of_sources</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>This is a notification to the end user that the account research report is complete.</description>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>1754</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>runningUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Header</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Save_New_Research_Report</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Prompt template to summarize the account overview</description>
        <name>Summarize_Account_Overview</name>
        <label>Summarize Account Overview</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_Recent_News</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Account_Overview</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Prompt template to summarize Company Strategic Priorities from Research</description>
        <name>Summarize_Company_Strategic_Priorities_from_Research</name>
        <label>Summarize Company Strategic Priorities from Research</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_Technology_Stack_Insights_and_Partnerships</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Company_Strategic_Priorities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Prompt template to summarize the Opportunities section of the account research report.</description>
        <name>Summarize_Opportunities_Section</name>
        <label>Summarize Opportunities Section</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Compare_New_Report_with_Old_Report</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Opportunities_Section</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Prompt template to summarize recent news.</description>
        <name>Summarize_Recent_News</name>
        <label>Summarize Recent News</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_Strategic_Positioning_Market_Landscape</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Recent_News</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Prompt Template to summarize Strategic Positioning &amp; Market Landscape</description>
        <name>Summarize_Strategic_Positioning_Market_Landscape</name>
        <label>Summarize Strategic Positioning &amp; Market Landscape</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_Company_Strategic_Priorities_from_Research</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Competitive_Position_Market_Landscape</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Prompt template to summarize Technology Stack Insights and Partnerships</description>
        <name>Summarize_Technology_Stack_Insights_and_Partnerships</name>
        <label>Summarize Technology Stack Insights and Partnerships</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_Opportunities_Section</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Technology_Insights_Partnerships</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This is the step that summarizes the entire report.</description>
        <name>Summarize_the_Account_Intelligence_Research_Report</name>
        <label>Summarize the Account Intelligence Research Report</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>Account_Intelligence_Research_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Summarize_Account_Overview</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content_to_Summarize</name>
            <value>
                <elementReference>to_summarize_Full_Research_Report</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Intelligence_Research_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This assignment adds the user id from the triggering running user to a variable to be used to send a notification to when account research is complete.</description>
        <name>Assign_Notification_Recipient_IDs</name>
        <label>Assign Notification Recipient IDs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>runningUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </connector>
    </assignments>
    <description>This flow uses an Agentforce Employee Agent to create a detailed Account Research Report. After the research report is created it also creates a new record for safe keeping, writes summaries, and compared with previous reports. Finally a notification is sent to the user to alert them the Account Research Report is ready.</description>
    <environments>Default</environments>
    <interviewLabel>Agentforce Account Research Report Creator Flow AEA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agentforce Account Research Report Creator Flow AEA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This action saves the new research report to the Account Research Report Object</description>
        <name>Save_New_Research_Report</name>
        <label>Save New Research Report</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Opportunities_Summary__c</field>
            <value>
                <elementReference>Summarize_Opportunities_Section.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Overview_Summary__c</field>
            <value>
                <elementReference>Summarize_Account_Overview.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparison_to_Previous_Report__c</field>
            <value>
                <elementReference>Compare_New_Report_with_Old_Report.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Most_Recent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Report_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_News_Summary__c</field>
            <value>
                <elementReference>Summarize_Recent_News.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Summary__c</field>
            <value>
                <elementReference>Summarize_the_Account_Intelligence_Research_Report.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report__c</field>
            <value>
                <elementReference>output_Final_Account_Research_Report</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic_Positioning_Summary__c</field>
            <value>
                <elementReference>Summarize_Strategic_Positioning_Market_Landscape.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic_Priorities_Summary__c</field>
            <value>
                <elementReference>Summarize_Company_Strategic_Priorities_from_Research.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Stack_and_Partnerships_Summary__c</field>
            <value>
                <elementReference>Summarize_Technology_Stack_Insights_and_Partnerships.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Research_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the account to do research on</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Account_Research_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This action gets the custom notification ID necessary to send the notification to the end user that the report is complete.</description>
        <name>Get_Custom_Notification_ID</name>
        <label>Get Custom Notification ID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Research_Complete_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This action checks to see if there is a recent account research report.</description>
        <name>Get_Most_Recent_Account_Research_Report</name>
        <label>Get Most Recent Account Research Report</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Intelligence_Research_Report_Generator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Most_Recent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Research_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Notification_Recipient_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This is the notification body to be sent to the end user when the report is complete.</description>
        <name>Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Congratulations! Your account research report for {!Get_Account.Name} is ready. Agentforce considered {!number_of_sources} when writing your account report.</text>
    </textTemplates>
    <textTemplates>
        <description>This is the header of the notification to be sent to the end user.</description>
        <name>Notification_Header</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account Research Report Ready for {!Get_Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <description>The old research report.</description>
        <name>old_Research_Report_for_Comparison</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Here is the old research report for comparison: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Account_Research_Report.Report__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the input prompt to Perplexity API call that generates research on the competitive positioning and market landscape for the given account.</description>
        <name>prompt_Competitive_Position_Market_Landscape</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Write a detailed competitive positioning report about {!Get_Account.Name}. The company is listed as in the {!Get_Account.Industry} industry. In your report please consider the competitive positioning and then the market landscape on the whole. Include details such an industry trends and opportunities for the company listed above.</text>
    </textTemplates>
    <textTemplates>
        <description>This is the input prompt used to direct the Perplexity research calls.</description>
        <name>prompt_Overview_Recent_News</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Write a detailed company overview about {!Get_Account.Name}. Also view recent news and generate a detailed overview. The account is listed as in the {!Get_Account.Industry} industry.</text>
    </textTemplates>
    <textTemplates>
        <description>This prompt is the input prompt to tell Perplexity what to research for the company&apos;s strategic priorities and opportunities.</description>
        <name>prompt_Strategic_Priorities_Opportunities</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Write a detailed strategic priority and opportunities report about {!Get_Account.Name}. The company is listed as in the {!Get_Account.Industry} industry. In your report please consider reputable sources such as investor relations materials, SEC filings, and other recent news. I want this to be a detailed report on the company&apos;s current and soon to be priorities and opportunities they are currently focused on.</text>
    </textTemplates>
    <textTemplates>
        <description>This is the input prompt to Perplexity to generate a report on the technology insights and strategic partnerships for the given account.</description>
        <name>prompt_Tech_Insights_Partnerships</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Write a detailed technology insights and technology partnership report about {!Get_Account.Name}. The company is listed as in the {!Get_Account.Industry} industry. In your report please consider reputable sources only. I want this to be a detailed report on the company&apos;s current technology stack, any key acquisitions of technology, technology partnerships they have, and areas for a salesperson to be knowledgeable on when trying to make a sale to the account listed above.</text>
    </textTemplates>
    <textTemplates>
        <description>This is the text template that creates the Account Research Report Name</description>
        <name>Report_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Research Report for {!Get_Account.Name} on {!$Flow.CurrentDateTime}</text>
    </textTemplates>
    <textTemplates>
        <description>Input to summarize the account overview section of the generated report.</description>
        <name>to_summarize_Account_Overview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please summarize the Account Overview section below into no more than 5 bullet points.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!output_Final_Account_Research_Report}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>input into the summary of the company strategic priorities section</description>
        <name>to_summarize_Company_Strategic_Priorities</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please summarize the Company Strategic priorities section below into no more than 5 bullet points.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!output_Final_Account_Research_Report}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Inputs into the competitive positioning and market landscape summary</description>
        <name>to_summarize_Competitive_Position_Market_Landscape</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please summarize the Strategic Positioning &amp;amp; Market Landscape section below into no more than 5 bullet points.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!output_Final_Account_Research_Report}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is is the input into the full report summary prompt template.</description>
        <name>to_summarize_Full_Research_Report</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please summarize this full report into no more than 5 bullet points. 

{!output_Final_Account_Research_Report}</text>
    </textTemplates>
    <textTemplates>
        <description>This is the opportunity section input into the summary</description>
        <name>to_summarize_Opportunities_Section</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please summarize the Opportunities section below into no more than 5 bullet points.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!output_Final_Account_Research_Report}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Input into the recent news summary</description>
        <name>to_summarize_Recent_News</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please summarize the Recent News section below into no more than 5 bullet points.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!output_Final_Account_Research_Report}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>input into the tech insights and partnerships summary.</description>
        <name>to_summarize_Technology_Insights_Partnerships</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please summarize the Technology Stack Insights and Partnerships section below into no more than 5 bullet points.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!output_Final_Account_Research_Report}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>The account ID of the account we are doing research on.</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the variable that stores the number of sources.</description>
        <name>number_of_sources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the final account research report.</description>
        <name>output_Final_Account_Research_Report</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the API key used to authenticate to Perplexity API.</description>
        <name>Perplexity_API_Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE_WITH_PERPLEXITY_API_KEY</stringValue>
        </value>
    </variables>
    <variables>
        <description>This is the full JSON response from the Perplexity API call about competitive positioning and market landscape.</description>
        <name>response_Competitive_Positioning_Landscape</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the JSON response for Company overview and recent news research.</description>
        <name>response_Overview_Recent_News_JSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the full JSON response from Perplexity about the strategic priorities and competitive positioning.</description>
        <name>response_Strategic_Priorities_Opportunities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the JSON full response from the Perplexity API call that will perform the research on technology and partnerships on the given account.</description>
        <name>response_Tech_Insights_Partnerships</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RunningUserInitialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
